.create-button {
  button {
    background-color: #49c6fc;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}
